*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin-bottom: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: crimson;
    border-radius: 20px;
    padding: 20px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 10px;
}
.box button{
    padding: 10px;
    background-color: #b11031;
}
.box input[type="text"]{
    padding: 10px;
    border: 1px solid crimson;
    outline: none;
}
.type{
    display: flex;
}
button{
    padding: 25px;
    background-color: crimson;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.signals{
    display: grid;
    grid-template-columns: repeat(1, auto);
}
.signals button{
    background-color: #b11031;
}
.numbers{
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.screen{
    width: 100%;
    padding: 30px;
    border: 1px solid #b11031;
}
.screen h1{
    position: absolute;
    right: 320px;
    top: 310px;
    text-align: left;
    color: #b11031;
}